<div class="iapp-share-close iapp-clickable"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/02/black-history/img/close.svg" alt="close"></div>

<div class="page-wrap iapp-content-wrap">
    
    <h2 class="iapp-share-intro iapp-panel-text-main">Contributors</h2>
    <p><strong>Reporting:</strong> Alison Young, Nick Penzenstadler, Catherine Sheffo, Mark Hannan, USA TODAY; Paul Giblin, The Arizona Republic; Liv Osby, (Asheville, N.C.) Citizen-Times; Jessie Balmert, Newspaper Network of Central Ohio; Jason Clayworth, The Des Moines Register; Shari Rudavsky, The Indianapolis Star; Emily Le Coz, The (Jackson, Miss.) Clarion-Ledger; Russ Walker, KING5 Seattle; Justin A. Hinkley, Lansing State Journal; Tom Wilemon, The (Nashville) Tennessean; Brett Kelman, The (Palm Springs, Calif.) Desert Sun; Jim Goodman, Rochester Democrat & Chronicle; Jeff Montgomery, The (Wilmington, Del.) News Journal</p>
    <p><strong>Editing:</strong> John Hillkirk, John Kelly, Terry Byrne, Evan Eile</p>
    <p><strong>Design and presentation:</strong> Mitchell Thorson, Jerry Mosemak, Madeleine Deason</p>
</div>
