<div class="page-wrap index">
  <h1 class="page-header container"> 
      <img class="logo" src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/biologo.svg" alt="BIOLABS IN YOUR BACKYARD">
  </h1>

  <p class="text intro"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>

  <div class="button intro-view-state-button">view your state</div>
  <div class="button intro-read-story-button">read story</div>

  <div class ="container foot"> 
    <div class="ftbutton share-button"> share </div>
  </div>
</div>

