<div class="page-wrap index">
    <div class="main">
        <h1 class="page-header container"> 
            <img class="logo" src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/biologo.svg" alt="BIOLABS IN YOUR BACKYARD">
        </h1>

        <p class="text intro">Hundreds of “high-containment” laboratories across the United States work with dangerous bacteria, viruses and toxins that require special biosafety level 3 and 4 precautions to prevent their release. But because of fragmented oversight, nobody knows where all the labs are, the Government Accountability Office has told Congress. A USA TODAY investigation has located more than 150 BSL-3 and BSL-4 facilities, describes their research and provides details of safety records that some labs fought to keep secret.</p>

        <div class="button intro-view-state-button">view your state</div>
        <div class="button intro-read-story-button">read story</div>
    </div>
    <div class ="container foot"> 
        <div class="ftbutton share-button"> share </div>
        <div class="ftbutton credits-button"> contributors </div>
    </div>
</div>

