<div class="iapp-panel-inner-wrap">
<div class="page-wrap content">
    <div class="main">
    <div class="iapp-back-button ftbutton">Back</div>
    <div class="page-header container"> 
        <img class="headimg lbhd" src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/locator.svg" alt="">
        <div class="page-header-info-wrap">
          <h2 class="text header labhd"><%= name %></h2>
          <p class="text labloc"><%= city %>, <%= state %></p>
        </div>
    </div>
   <div class="lablevel-button"><%= highest_bsl %></div>
  <% if(photo !== "") { %>


   <img class="photo" src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/labs/<%= photo %>">
      <div class="photocred">(Photo: <%= photo_credit %>)</div>

   <% } %>
    <div class="hr1"></div>
    <p class="byline"> by <%= byline %></p> 
    <div class="text chatt">
        <% _.each(description, function(description_paragraph) { %>
        
        <p class=""><%= description_paragraph %></p>

        <% }) %>
    </div>
    <% if(photo !== "") { %>
    <div class="photocap"><strong>Photo: </strong><%= photo_cutline %></div>
     <% } %>
  </div>

  
</div>
</div>
<div class ="container foot">
    <% if(docs_file !== "") { %>
          <a class="link" href="<%=docs_file%>" target="_blank">
          <div class="document-button">
          DOWNLOAD SAFETY, ACCIDENT RECORDS
          </div>
      </a>
    <% } %>
    <div class="ftbutton read-story">read story</div>
    <div class="ftbutton backtostate"><%= state %></div>
    <div class="ftbutton share-button">share</div>
    <div class="ftbutton credits-button"> contributors </div>
</div>

