<div class="page-wrap content">
  <div class="main">
    <h1 class="page-header container"> 
      <img class="headimg lbhd" src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/locator.svg" alt="">
      <div class="text header labhd"><%= name %></div>
    </h1>
  <% if(photo !== "") { %>


   <img class="photo" src="../img/<%= lab_id %>.jpg">
      <div class="photocred">(Photo: <%= photo_credit %>)</div>

   <% } %>
    <p class="text labloc"><%= city %>, <%= state %></p>
    <div class="hr1"></div>
    <p class="text chatt"><%= description %></p>

    
    <div class="photocap">Photo caption: will go here</div>
      
  </div>

  <div class ="container foot">
    <p class="byline"> by <%= byline %></p> 
    <% if(docs_file !== "") { %>
      <a class="link" href="https://www.documentcloud.org/documents/1690083-ak02.html">
        <div class="document-button">
          download incident documentation          
        </div>
      </a>
    <% } %>
    <div class="ftbutton">read story</div>
    <div class="ftbutton backtostate"><%= state %></div>
    <div class="ftbutton share-button">share</div>
  </div>
</div>
