<div class="page-wrap content">

  <div class="main">
    <h1 class="page-header container"> 
      <img class="info" src="/img/info.svg" alt="info">
      <img class="headimg" src="/img/locator.svg" alt="">
      <div class="text header"><%= state %></div>
    </h1>
    <div class="hr1"></div>
    <div class="lablistcont"></div>
  </div>

  <div class ="container foot"> 
    <div class="ftbutton">read story</div>
    <div class="ftbutton backtoindex">States</div>
    <div class="ftbutton">share</div>
  </div>

</div>