<div class="iapp-panel-inner-wrap">
    <div class="page-wrap content">
      <div class="main">
        <div class="info ftbutton">About this project</div>
        <div class="iapp-back-button ftbutton">Back</div>
        <div class="page-header container"> 
          <img class="headimg stindexhd" src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/locator.svg" alt="">
          <div class="text header">Choose Your State</div>
        </div>
          <p class="text chatt explain">But because of fragmented oversight, nobody knows where all the labs are, including the federal government. A USA TODAY investigation has located about 200 biosafety level 3 and 4 lab facilities, describes their research and gives you safety records that some labs fought to keep secret.</p>
        <div class="stcont"></div>
        <img class="range" src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/range.svg">
      </div>
    </div>
</div>
      <div class ="container foot"> 
        <div class="ftbutton ">read story</div>
        <div class="ftbutton share-button">share</div>
        <div class="ftbutton credits-button"> contributors </div>
      </div>

