<div class="iapp-panel-inner-wrap">
    <div class="page-wrap content">
      <div class="main">
        <div class="info ftbutton">About this project</div>
        <div class="iapp-back-button ftbutton">Back</div>
        <div class="page-header container"> 
          <img class="headimg stindexhd" src="https://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/locator.svg" alt="">
          <div class="text header">Choose Your State</div>
        </div>
          <p class="text chatt explain">Because of fragmented oversight, even the federal government doesn’t know where all of the “high containment” labs in the U.S. are located. These biosafety level 3 and 4 labs, the highest levels of containment, use special equipment and procedures to prevent the release of bacteria, viruses and toxins.</p>
        <div class="stcont"></div>
        <img class="range" src="https://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/range.svg">
      </div>
    </div>
</div>
      <div class ="container foot"> 
        <a class="iapp-story-link" href="http://www.usatoday.com/longform/news/2015/05/28/biolabs-pathogens-location-incidents/26587505/" target="_blank"><div class="ftbutton ">read story</div></a>
        <div class="ftbutton share-button">share</div>
        <div class="ftbutton credits-button"> contributors </div>
      </div>

