<div class="iapp-panel-inner-wrap">
    <div class="page-wrap content">

      <div class="main">
        <div class="iapp-back-button ftbutton">Back</div>
        <h1 class="page-header container"> 
          <img class="headimg sthd" src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/locator.svg" alt="">
          <div class="text header"><%= state %></div>
        </h1>
        <p class="text chatt explain">Facilities that include BSL-3 or BSL-4 labs identified by USA TODAY’s research. Additional “high-containment” labs may also exist in this state.</p>
        <div class="hr1"></div>
        <div class="lablistcont"></div>
      </div>

  </div>

</div>
<div class ="container foot"> 
        <div class="ftbutton">read story</div>
        <div class="ftbutton backtoindex">States</div>
        <div class="ftbutton share-button">share</div>
        <div class="ftbutton credits-button"> contributors </div>
      </div>


