<div class="page-wrap content">
  <h1 class="page-header container"> 
    <img class="info" src="/img/info.svg" alt="info">
    <img class="headimg" src="/img/virginia.svg" alt="Virginia">
  </h1>

  <p class="text chatt">  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
  <div class="hr1"></div>

<div class="lablistcont"></div>

  <div class ="container foot"> 
    <div class="ftbutton">read story</div>
    <div class="backtoindex">
      <div class="ftbutton">States</div>
    </div>
    <div class="ftbutton">share</div>
  </div>
</div>