<div class="iapp-panel">
    <div class="page-wrap index">
      <h1 class="page-header container"> 
          <img class="logo" src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/biologo.svg" alt="BIOLABS IN YOUR BACKYARD">
      </h1>

      <p class="text intro">Hundreds of “high-containment” labs across the U.S. work with dangerous bacteria, viruses and toxins that require special precautions to prevent their release. But because of fragmented oversight, nobody knows where all the labs are, including the federal government. A USA TODAY investigation has located about 200 biosafety level 3 and 4 lab facilities, describes their research and gives you safety records that some labs fought to keep secret.</p>


      <div class="button intro-view-state-button">view your state</div>
      <div class="button intro-read-story-button">read story</div>

      <div class ="container foot"> 
        <div class="ftbutton share-button"> share </div>
      </div>
    </div>
</div>
<div class="iapp-panel">
    
</div>

<div class="'iapp-panel upcoming">
    {% for lab in labs %}
    <div class="page-wrap content">
      <div class="main">
        <div class="page-header container"> 
            <div class="page-header-info-wrap">
                <img class="headimg" src="http://www.gannett-cdn.com/experiments/usatoday/2015/03/biolabs/img/locator.svg" alt="">
                <div class="text header labhd">{{ lab.name }}</div>
                <p class="text labloc">{{ lab.city }}, {{ lab.state }}</p>
            </div>
        </div>
        <div class="lablevel-button">{{ lab.highest_bsl }}<div>
        {% if not lab.photo_credit == "" %}
        <!-- <img class="photo" src="http://www.gannett&#45;cdn.com/experiments/usatoday/2015/03/biolabs/img/labs/{{ lab.photo }}"> -->
            <figcaption class="photocred">(Photo: {{ lab.photo_credit }})</figcaption>
        {% endif %}

        <div class="hr1"></div>
        <p class="byline"> by {{ lab.byline }}</p> 
        <p class="text chatt lab-body">{{ lab.description }}</p>
      </div>

      <div class ="container foot">
        {% if not lab.docs_file == "" %}
            <a class="link" href="{{lab.docs_file}}" target="_blank">
                <div class="document-button">
                    download incident documentation          
                </div>
            </a>
        {% endif %}
        <div class="ftbutton">read story</div>
        <div class="ftbutton backtostate">{{ lab.state }}</div>
        <div class="ftbutton share-button">share</div>
      </div>
    </div>
    {% endfor %}
</div>
