@import "fonts";
@import "bits";
@import "base";
@import "typography";
@import "card";
@import "buttons";
@import "panel";
@import "share";

// ---------- GENERAL ---------- //
.text {
	&.intro {
		margin: 2em 2em 1em 2em;
	}
	&.header {
		margin: 1em 0 10px 0;
		font-family: "Futura Today Light", Arial, sans-serif;
		font-size: 40px;
		color: #fff;
		display: table;
		text-decoration: none;
		text-transform: none;
		text-align: left;
		&.labhd {
			font-size: 20px;
			margin: 2em 0 5px 0;
			float: left;
			width: 80%;
		}
	}
	&.chatt {
		margin: 2em 1em 1em 2em;
		color: #fff;
		text-align: left;
		&.explain {
			color: $light-grey;
		}
	}
    &.labloc {
		margin: 0 0 0 2em;
		text-align: left;
		color: #a6a8ab;
	}
	&.lablevel {
		margin: 0 2em 0 0;
		float: right;
		color: #a6a8ab;
	}
	&.labnm {
		margin: 0 1em 0 2em;
		color: #fff;
		text-align: left;
		&:hover {
		cursor: pointer;
		color: $blue;
		transition: background-color .5s;
		}
	}
	&.labnm2 {
		margin: 0 1em 0 2em;
		color: #fff;
		text-align: left;
	}
}

.link {
	text-decoration: none;
}

.byline {
	font-size: 10px;
	margin: 1em 3em 1em 3em;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
}

.hr1 {
	margin: 1em 1em 1em 2em;
	background:  #a6a8ab;
	height: 3px;
	border: 0.8px solid;
	border-color: #000;
}

.hr2 {
	margin: 1em 1em 1em 2em;
	background:  #fff;
	height: 1px;
	opacity: 0.4;
}


// --------- CONTAINTERS -------- //
.iapp-wrap {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    @media(min-width: 600px) {
        background: #404041;
        background-size: cover;
    }
}


.page-wrap {
	overflow: hidden;
	text-align: center;
	padding: 0;
    height: calc(100% - 40px);
	max-width: 600px;
	font-family: "Futura Today Light", Arial, sans-serif;
    position: relative;
	&.index {
		background: url(/img/bg1.svg) no-repeat 50% 70%;
		background-color: #fff;
	}
	&.content {
		background: url(/img/bg2.svg) no-repeat 50% 50%;
		background-color: #404041;
        @extend .group;
	}
    @media(max-width: 600px) {
        width: 100%;
    }
}

.main {
	overflow-y: auto;
	height: 100%;
	padding-bottom: 80px;
}

h1.container {
	padding: 0;
}

.container {
    width: 100%;
    max-height: 9em;
    margin: 0 auto;
    padding: 0 0 0 0;
    background-color: #404041;
    &.foot {
    	bottom: 0;
    	padding: .3em 0 .3em 0;
        position: absolute;
        max-width: 600px;
        left: 0;
        
    	// max-height: 5em;
    }
}

.stcont {
	width: 70%;
	position: relative;
	padding: 0 0 1em 1em;
	display: block;
	clear: both;
	margin: 0 auto;
}

.entryinnerwrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// ---------- IMAGES ----------- //

img {
	max-width: 1000px;
	position: relative;
}

.logo {
	// top: -2em;
	overflow: visible;
	max-width: 16em;
}

.info {
	top: 0.5em;
    right: 0.5em;
	max-width: 1.7em;
	float: right;
	margin: 0 .5em 0 0;
    position: absolute;
    display: inline-block;
    z-index: 5;
    &:hover {
		cursor: pointer;
	}

}

.headimg {
	float: left;
	display: inline-block;
	width: 10%;
	&.stindexhd {
		margin: -1em 0 0 3em;
	}
	&.sthd {
		margin: -1em 0 0 1em;
	}
	&.lbhd {
		margin: .5em 0 0 1em;
	}
}

.range {
	width: 10%;
	bottom: 10em;
	right: 1em;
	float: right;
	position: absolute;
	display: inline-block;
}

.photo {
	margin: 0 1em 0 2em;
	width: calc(100% - 4em);
}

.photocred {
	margin: 0 2em 0 0;
	font-size: 10px;
	color: #a6a8ab;
	float: right;
}

.photocap {
	margin: 0 0 0 3em;
	font-size: 12px;
	color: #a6a8ab;
	float: left;
	margin-bottom: 100px;
}

// ---------- BUTTONS ---------- //

.button {
	width: 150px;
	box-shadow: $shadow-standard;
	border-radius: 0.8em;
	display: inline-block;
	margin: 0 0 1em 0;
	padding: 0.7em;
}

.ftbutton {
  width: auto;
  display: inline-block;
  background-color: none;
  color: white;
  margin: 0 3px;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .5s;
  border: 0.1em solid;
  border-color: $light-grey;
  opacity: 0.7;
  &:hover {
    cursor: pointer;
    background-color: $medium-grey;
    transition: background-color .5s;
  }
}

.stbutton {
	position: relative;
	width: calc(20% - 2px);
	height: 0;
	float: left;
	color: #404041;
	text-align: center;
	margin: 1px;
	padding-bottom: 20%;
	text-transform: uppercase;
	transition: background-color .5s;
	&.light {
		background-color: #fff;
		opacity: 0.6;
	}
	&.medium {
		background-color: #808184;
	}
	&.dark {
		background-color: #58595B;
	}
	&.none {
		background-color: #fff;
	}
	&:hover {
		cursor: pointer;
		background-color: $blue;
		transition: background-color .5s;
	}
}

.document-button {
    background-color: $blue;
    border-radius: 5px;
    box-shadow: $shadow-standard;
    color: white;
    margin: 0 1em 1em 1em;
    padding: 0.5em;
    text-transform: uppercase;
    width: calc(100% - 2em);
    &:hover {
		cursor: pointer;
		background-color: $dark-blue;
		transition: background-color .5s;
	}
    @media(max-width: 600px) {
        display: none;  
    }
}
